.events {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(177, 177, 177, 0.415);
}

.events:hover {
  background-color: #939393;
}

.eventMain {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  color: black;
}

.eventContainer {
  display: flex;
  width: 90%;
  padding: 10px;
}

.subAttributes{
display: flex;
}

.eventSub {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.eventSecondMain {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.eventSecondSub{
  display: flex;
}

.eventAttribute {
  border-radius: 10px;
  padding: 0px 10px;
  margin: 2.5px 2.5px;
}
