/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
body::-webkit-scrollbar {
  display: none;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  padding: 10px;
}

.read-the-docs {
  color: #888;
}

.navbar {
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
  overflow: hidden;
  box-shadow: 2px 5px 5px rgba(76, 76, 77, 0.506);
}

.navbarActive {
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
  backdrop-filter: blur(5px);
  overflow: hidden;
  padding: 0 1rem;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navLinksActive {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.4;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoActive {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.4;
  margin-left: 25px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  transform: scale(0.9);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.statsContainer {
  display: flex;
  width: 60%;
  margin-top: 105px;
  align-items: center;
  justify-content: center;
}

.stat {
  width: 100vw;
  height: 150px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  margin: 0px 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: 7.5px 5px 5px rgba(196, 195, 195, 0.511);
}

.stat:hover {
  opacity: 0.6;
}

.stat:active {
  transform: scale(1);
}

.eventContainer {
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.eventRow {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.eventTitles {
  font-weight: bold;
 
}

.eventColumn {
  margin: 0 5px;
  flex-basis: 20%;
  text-align: center;
}

.eventItems:nth-child(even) {
  background-color: #595757;
}

.eventItems:hover {
  background-color: #939393;
}

.items {
  text-align: center;
}

a.items {
  display: block;
  text-decoration: none;
  color: #0077c2;
}

a.items:hover {
  color: #005ea3;
}

@media screen and (max-width: 768px) {
  .eventColumn {
    flex-basis: 100%;
  }
  .eventRow {
    flex-wrap: wrap;
  }
  .navbar {
    justify-content: space-around;
    padding: 0;
  }

  .navLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    margin: 0;
  }

  .searchFilter {
    display: block;
    margin-right: 1rem;
  }

  .statsContainer {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }

  .stat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 80%;
  }

  h3 {
    font-size: 1em;
  }
}

.filterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 25px;
}
.my-range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #4caf50;
  margin-top: -8px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.36), 0 1px 1px rgba(0, 0, 0, 0.23);
}

.cityInput {
  margin-left: 25px;
}

.eventDetails {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .filterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
  }

  .eventDetails {
    margin-top: 50px;
  }

  .eventItems:hover {
    background-color: #939393;
  }

  .filterContainer > * {
    margin: 0;
    margin-bottom: 10px;
  }

  .my-range-input {
    width: 100%;
  }

  .eventRow,
  .eventTitles {
    border: 1px solid white;
    margin: 2.5px;
  }

  .eventColumn {
    padding: 2.5px;
  }

  button,
  input {
    width: 150px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .my-range-input::placeholder {
    text-align: center;
  }

  .eventTitles {
    display: none;
  }

  .navbar {
    height: 25vh;
  }

  .navbarActive,
  .navLinksActive {
    display: none;
  }
  .navLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    flex-direction: column;
  }

  .statsContainer {
    margin-top: 205px;
  }

  .paginationBttns {
    margin-left: 12.5px !important;
  }
  .paginationBttns a {
    padding: 3px !important;
    margin: 1px !important;
    padding-left: 1px !important;
  }
}

.paginationBttns {
  width: 100%;
  height: 40px;
  margin-top: 40px;
  list-style: none;
  margin-right: 50px;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 12px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #55555599;
  color: #7c7c7c;
  cursor: pointer;
  width: 100%;
}

.paginationBttns a:hover {
  color: white;
  background-color: #222229a7;
}

.paginationActive a {
  color: white;
  background-color: #9a9a9a74;
}

.paginationDisabled a {
  color: grey;
  opacity: 0.4;
}

.errorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h1 {
  margin-bottom: 2rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 2px solid #ccc;
  padding: 2rem;
  border-radius: 5px;
}

.contact label {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact textarea {
  height: 10rem;
}

.contact button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.contact button[type="submit"]:hover {
  background-color: #0056b3;
}

.contactContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
