/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: rgba(76, 76, 77, 0.506);
  overflow: hidden;
  padding: 0px 10px;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: -5px;
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  transform: scale(0.9);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventContainer {
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.eventRow {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.eventTitles {
  font-weight: bold;
  background-color: #919191;
}

.eventColumn {
  flex-basis: 20%;
}

.eventItems:nth-child(odd) {
  background-color: #595757;
}

.eventItems:hover {
  background-color: #939393;
}

.items {
  text-align: center;
}

a.items {
  display: block;
  text-decoration: none;
  color: #0077c2;
}

a.items:hover {
  color: #005ea3;
}

@media screen and (max-width: 768px) {
  .eventColumn {
    flex-basis: 100%;
  }
  .eventRow {
    flex-wrap: wrap;
  }
}
