/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
body::-webkit-scrollbar {
  display: none;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  padding: 10px;
}

.read-the-docs {
  color: #888;
}

.navbar {
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  height: 80px;
  width: 100vw;
  overflow: hidden;
  box-shadow: 2px 5px 5px rgba(76, 76, 77, 0.506);
}

.navbarActive {
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
  backdrop-filter: blur(5px);
  overflow: hidden;
  padding: 0 1rem;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navLinksActive {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.4;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoActive {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.4;
  margin-left: 25px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  transform: scale(0.9);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background-color: white;
  color: black;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  cursor: crosshair;
}

.sort {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
}

.eventRow {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.eventTitles {
  font-weight: bold;
}

.eventItems:nth-child(even) {
  background-color: #595757;
}

.eventItems:hover {
  background-color: #939393;
}

.items {
  text-align: center;
}

a.items {
  display: block;
  text-decoration: none;
  color: #0077c2;
}

a.items:hover {
  color: #005ea3;
}

.navbarTitle {
  font-family: "Alegreya", sans-serif;
  font-style: regular;
}

@media screen and (max-width: 768px) {
  .eventRow {
    flex-wrap: wrap;
  }
  .navbar {
    justify-content: space-around;
    padding: 0;
  }

  .navLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    margin: 0;
  }

  .searchFilter {
    display: block;
    margin-right: 1rem;
  }

  .statsContainer {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }

  h3 {
    font-size: 1em;
  }
}

.filterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
.my-range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #4caf50;
  margin-top: -8px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.36), 0 1px 1px rgba(0, 0, 0, 0.23);
}

.cityInput {
  margin-left: 25px;
}

.eventDetails {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .filterContainer {
    display: flex;
    flex-direction: row;
  }

  .filterContainer button {
    margin: 5px 10px;
  }

  .eventDetails {
    margin-top: 50px;
  }

  .eventItems:hover {
    background-color: #939393;
  }

  .filterContainer > * {
    margin: 0;
    margin-bottom: 10px;
  }

  .my-range-input {
    width: 100%;
  }

  .eventRow,
  .eventTitles {
    border: 1px solid white;
    margin: 2.5px;
  }

  .eventColumn {
    padding: 2.5px;
  }

  button,
  input {
    width: 150px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .my-range-input::placeholder {
    text-align: center;
  }

  .eventTitles {
    display: none;
  }

  .navbar {
    height: 25vh;
  }

  .navbarActive,
  .navLinksActive {
    display: none;
  }
  .navLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    flex-direction: column;
  }

  .statsContainer {
    margin-top: 205px;
  }

  .paginationBttns {
    margin-left: 12.5px !important;
  }
  .paginationBttns a {
    padding: 3px !important;
    margin: 1px !important;
    padding-left: 1px !important;
  }
}

.paginationBttns {
  width: 100%;
  height: 40px;
  margin-top: 40px;
  list-style: none;
  margin-right: 50px;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  border-radius: 150px;
  padding: 12px;
  margin: 10px;
  color: black;
  cursor: pointer;
  width: 100%;
}

.paginationBttns a:hover {
  color: black;
  background-color: #9e97975e;
}

.paginationActive a {
  color: white;
  background-color: #000000db;
}

.paginationDisabled a {
  color: grey;
  opacity: 0.4;
}

.errorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.contact h1 {
  margin-bottom: 2rem;
  color: black;
}

.about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: black;
}

.aboutContainer {
  margin: 35px 50px;
}

.aboutMain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.festival {
  height: 475px;
  width: 550px;
  opacity: 0.8;
}

.festival:hover {
  opacity: 1;
  transform: scale(0.95);
}

.concert {
  position: absolute;
  height: 255px;
  width: 255px;
  opacity: 0.6;
  left: 425px;
  top: 200px;
}

.concert:hover {
  opacity: 1;
  transform: scale(1.05);
}

.aboutDescription {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 0px 80px;
}

@media screen and (max-width: 1120px) {
  .aboutMain {
    display: flex;
    flex-flow: column wrap;
  }

  .festival {
    position: relative;
    left: 150px;
  }

  .concert {
    position: relative;
    left: -75px;
    top: -100px;
  }

  .aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
  }

  .aboutDescription {
    padding: 50px 10px;
    position: relative;
    text-align: center;
  }
}

@media screen and (max-width: 860px) {
  .festival {
    left: 87.5px;
    height: 375px;
    width: 325px;
  }

  .concert {
    left: -25px;
    height: 180px;
    width: 125px;
  }
}

@media screen and (max-width: 500px) {
  .festival {
    position: relative;
    left: 20px;
    height: 305px;
    width: 285px;
  }

  .concert {
    position: absolute;
    left: 250px;
    top: 300px;
    height: 150px;
    width: 110px;
  }
}

@media screen and (max-width: 450px) {
  .festival {
    position: relative;
    left: 20px;
    height: 305px;
    width: 285px;
  }

  .concert {
    position: absolute;
    left: 275px;
    top: 350px;
    height: 150px;
    width: 110px;
  }
}

@media screen and (max-width: 400px) {
  .festival {
    position: relative;
    left: 20px;
    height: 305px;
    width: 285px;
  }

  .concert {
    position: absolute;
    left: 250px;
    top: 310px;
    height: 150px;
    width: 110px;
  }
}

.contactHeaders {
  color: black;
  text-align: center;
  padding: 50px 0px;
  line-height: 15px;
}

.contactHeaders h1 {
  font-size: 2rem;
}
.contactHeaders h2 {
  font-size: 24px;
  font-weight: normal;
  color: rgba(18, 18, 18, 0.647);
}

.contactContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 50px;
}

.contactCard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column wrap;
  color: black;
  width: 30%;
  height: 350px;
  margin: 0px 20px;
  border: 0.1px solid rgba(128, 128, 128, 0.263);
  border-radius: 10px;
  -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  box-shadow: 0px -15px 7px rgba(50, 50, 50, 0.75);
}

.contactCard p {
  color: rgba(87, 87, 87, 0.613);
  padding: 0px 50px;
}

@media screen and (max-width: 860px) {
  .contactHeaders {
    line-height: 25px;
  }

  .contactContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .contactCard {
    width: 75%;
    margin: 50px 0px;
  }
}

@media screen and (max-width: 1360px) {
  .contactCard {
    margin: 15px;
    padding: 0px 10px;
  }
}

@media screen and (max-width: 860px) {
  .contact {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .contact {
    font-size: 12px;
  }
}

@media screen and (max-width: 300px) {
  .contact {
    font-size: 10px;
  }

  .contactCard button {
    width: 75px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(111, 111, 111, 0.5);
  z-index: 1;
}
